Flask>=0.12.3
Flask-Login>=0.2.11
Jinja2>=2.8.1
MarkupSafe==0.23
werkzeug>=0.15.3
argparse>=1.2.1
backports.ssl-match-hostname==3.7.0.1
docker-py==1.10.6
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==0.4.17
itsdangerous==0.24
peewee==3.17.1
requests>=2.20.0
six==1.16.0
websocket-client>=0.21.0
websockify
